Beaker==1.6.4
Flask==0.10.1
Flask-Login==0.2.11
Flask-Mail==0.9.0
Flask-Mobility==0.1.1
Flask-OAuthlib==0.7.0
Flask-SQLAlchemy==1.0
Flask-Script==2.0.5
Flask-WTF==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.7
WTForms==2.0.1
Werkzeug==0.9.6
argh==0.25.0
argparse==1.2.1
beautifulsoup4==4.3.2
blinker==1.3
certifi==14.05.14
itsdangerous==0.24
numconv==2.1.1
oauthlib==0.6.3
paypalrestsdk==1.3.0
psycopg2==2.5.3
-e git+https://github.com/biviosoftware/publicprize@849bc9a3d237114e51776c65e5804541bb60cfb0#egg=publicprize-origin/master
py==1.4.23
pytest==2.6.1
requests==2.4.0
six==1.7.3
uWSGI==2.0.7
