{% import "layout/macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Public Prize, crowdfunded contests.">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <title>{% block title %}{% endblock %} - Public Prize</title>
    <link href="/static/css/bootstrap-3.2.0.min.css" rel="stylesheet">
    <link href="/static/css/ladda-themeless-0.8.0.min.css" rel="stylesheet">
    <link href="/static/css/pp.css" rel="stylesheet">
    <!--[if IE 10]>
      <script src="/static/js/msie/ie10-viewport-bug-workaround.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="/static/js/msie/html5shiv.min.js"></script>
      <script src="/static/js/msie/respond.min.js"></script>
    <![endif]-->
    {% endblock -%}
  </head>
  <body>
    <div class="pp-nav-masthead">
      {%- block masthead -%}
      <div class="container">
    	<nav class="pp-nav">
      	  <a class="pp-nav-logo" href="/"><img src="/static/img/logo.gif" alt="PUBLIC PRIZE"></a>
      	  <div class="pp-nav-menu pull-right">

	    {%- if session.get('user.is_logged_in') -%}

	    {%- block logged_in_nav %}{% endblock -%}

            <a class="pp-nav-item" href="{{ g.pub_obj.format_uri('logout') }}">Log out</a>

	    {%- elif session.get('user.oauth_type') -%}

            <a class="pp-nav-item" href="{{ g.pub_obj.get_login_uri() }}">Log in</a>

	    {% else -%}

            <a class="pp-nav-item" data-toggle="modal" data-target="#signupModal" href="#">Sign up</a>
            <a class="pp-nav-item" data-toggle="modal" data-target="#loginModal" href="#">Log in</a>

	    {%- endif %}
      	  </div>
    	</nav>
      </div>
      {%- endblock -%}
    </div>
    <div class="container pp-content">
      {%- with messages = get_flashed_messages() -%}
        {%- if messages -%}
      	  <div class="alert alert-success alert-dismissible">
    	    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
            {%- for message in messages -%}
	      <strong>{{ message }}</strong>
            {%- endfor -%}
	  </div>
      	{%- endif -%}
      {%- endwith -%}
      {% block content %}{% endblock %}
    </div>
    <div class="pp-footer">
      {%- block footer %}
      <div class="container">
        <div class="row">
          <div class="pull-left">
            <span class="pp-footer-item"><a href="{{ g.pub_obj.format_uri('terms') }}">Terms of Use</a></span>
            <span class="pp-footer-item"><a href="{{ g.pub_obj.format_uri('privacy') }}">Privacy Policy</a></span>
            <span class="pp-footer-item">{{ macros.support_mailto('Support') }}</span>
          </div>
	  <div class="pull-right">
	    <span class="pp-footer-item">&copy; 2014 Public Prize, Inc.</span>
   	  </div>
        </div>
      </div>
      {% endblock -%}
    </div>

    {%- macro modal(id, text) -%}
    
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog">
    	<div class="modal-dialog">
      	    <div class="modal-content">
      	    	<div class="modal-header">
	            <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
	            <h4 class="modal-title">{{ text }}</h4>
	      	</div>
            	<div class="pp-login-body modal-body pp-social-icon">
		    <a href="{{ g.pub_obj.format_uri('facebook-login', preserve_next=True) }}" class="btn btn-lg"><img src="/static/img/facebook39.png" alt="Facebook"> {{ text }} using Facebook</a>
		    <br />
		    <a href="{{ g.pub_obj.format_uri('google-login', preserve_next=True) }}" class="btn  btn-lg"><img src="/static/img/google39.png" alt="Google"> {{ text }} using Google</a>
            	</div>
      	    </div>
    	</div>
    </div>

    {%- endmacro -%}
    
    {{ modal('signupModal', 'Sign up') }}
    {{ modal('loginModal', 'Log in') }}

    {%- block scripts %}
    <script src="/static/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap-3.2.0.min.js"></script>
    <script src="/static/js/ladda/spin-0.8.0.min.js"></script>
    <script src="/static/js/ladda/ladda-0.8.0.min.js"></script>
    <script src="/static/js/pp-app.js"></script>

    {%- if show_login: %}
    <script>
      $(function() {
        $('#loginModal').modal('show');
      });
    </script>
    {% endif -%}

    {% endblock -%}
  </body>
</html>
