<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <title>{% block title %}{% endblock %} - Public Prize</title>
    <link href="/static/css/bootstrap-3.2.0.min.css" rel="stylesheet">
    <link href="/static/css/pp.css" rel="stylesheet">
    <!--[if IE 10]>
      <script src="/static/js/msie/ie10-viewport-bug-workaround.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="/static/js/msie/html5shiv.min.js"></script>
      <script src="/static/js/msie/respond.min.js"></script>
    <![endif]-->
    {% endblock %}
  </head>

  <body>
    <div class="pp-masthead">
      {% block masthead %}
      <div class="container">
    	<nav class="pp-nav">
      	  <a class="pp-nav-logo" href="/"><img src="/static/img/logo.gif" alt="PUBLIC PRIZE"></a>
      	  <div class="pp-nav-menu pull-right">
            <a class="pp-nav-item" href="#">Sign up</a>
            <a class="pp-nav-item" href="#">Log in</a>
      	  </div>
    	</nav>
      </div>
      {% endblock %}
    </div>
    
    <div class="container pp-content">{% block content %}{% endblock %}</div>

    <div class="pp-footer">
      {% block footer %}
      <div class="container">
        <div class="row">
          <div class="pull-left">
            <span class="pp-footer-item"><a href="#">Terms of Use</a></span>
            <span class="pp-footer-item"><a href="#">Privacy Policy</a></span>
            <span class="pp-footer-item"><a href="#">Support</a></span>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>

    {% block scripts %}
    <script src="/static/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap-3.2.0.min.js"></script>
    <script src="/static/js/pp-app.js"></script>
    {% endblock %}
  </body>
</html>
