<!DOCTYPE html>
{%- import "layout/macros.html" as macros %}
<html lang="en">
  <head>
    {%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- block meta_description %}
      <meta name="description" content="Public Prize, crowdfunded contests.">
      <meta property="og:description" content="Public Prize, crowdfunded contests.">
    {%- endblock %}
    <meta property="og:site_name" content="Public Prize">
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <title>{% block title %}{% endblock %} - Public Prize</title>
    {%- block bootstrap_css %}
    <link href="/static/css/bootstrap-3.3.2.min.css?20150120" rel="stylesheet">
    {%- endblock %}
    {%- block css %}
    <link href="/static/css/ladda-themeless-0.8.0.min.css" rel="stylesheet">
    <link href="/static/css/pp.css?20150121" rel="stylesheet">
    {%- endblock %}
    <!--[if IE 10]>
      <script src="/static/js/msie/ie10-viewport-bug-workaround.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="/static/js/msie/html5shiv.min.js"></script>
      <script src="/static/js/msie/respond.min.js"></script>
    <![endif]-->
    {%- endblock %}
    {%- block social_meta %}{% endblock %}
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
    	<div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      	  <a class="pp-nav-logo" href="/"><img src="/static/img/logo.gif" alt="PUBLIC PRIZE"></a>
	  {%- block navtitle %}{% endblock %}
        </div>
	<div class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
	    {%- if session.get('user.is_logged_in') %}
	      {%- block logged_in_nav %}{% endblock %}
              <li><a rel="nofollow" class="pp-nav-item" href="{{ g.pub_obj.format_uri('logout') }}">Log out</a></li>
	    {%- elif session.get('user.oauth_type') %}
              <li><a rel="nofollow" class="pp-nav-item" href="{{ g.pub_obj.get_login_uri() }}">Log in</a></li>
	    {%- else %}
              <li><a rel="nofollow" class="pp-nav-item" data-toggle="modal" data-target="#signupModal" href="#">Sign up</a></li>
              <li><a rel="nofollow" class="pp-nav-item" data-toggle="modal" data-target="#loginModal" href="#">Log in</a></li>
	    {%- endif %}
	  </ul>
	</div>
      </div>
    </div>
    {%- block jumbo_header %}{% endblock %}
    <div class="container pp-content"><div class="row">
      {%- with messages = get_flashed_messages() %}
        {%- if messages %}
      	  <div class="alert alert-success alert-dismissible">
    	    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
	    {# show the mose recent message only #}
	    <strong>{{ messages[-1] }}</strong>
	  </div>
      	{%- endif %}
      {%- endwith %}
      {%- block content %}{% endblock %}
    </div></div>
    <div class="pp-footer">
      {%- block footer %}
      <div class="container">
        <div class="row">
          <div class="pull-left">
            <span class="pp-footer-item"><a href="{{ g.pub_obj.format_uri('terms') }}">Terms of Use</a></span>
            <span class="pp-footer-item"><a href="{{ g.pub_obj.format_uri('privacy') }}">Privacy Policy</a></span>
            <span class="pp-footer-item">{{ macros.support_mailto('Support') }}</span>
          </div>
	  <div class="pull-right">
	    <span class="pp-footer-item">&copy; 2015 Public Prize, Inc.</span>
   	  </div>
        </div>
      </div>
      {%- endblock %}
    </div>
    {{- macros.signin_modal('signupModal', 'Sign up') }}
    {{- macros.signin_modal('loginModal', 'Log in') }}
    {%- block scripts %}
    <script src="/static/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap-3.3.2.min.js"></script>
    <script src="/static/js/ladda/spin-0.8.0.min.js"></script>
    <script src="/static/js/ladda/ladda-0.8.0.min.js"></script>
    <script src="/static/js/pp-app.js?20140921"></script>
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-52749380-3', 'auto');
      ga('send', 'pageview');
    </script>
    {%- endblock %}
  </body>
</html>
