
{%- macro error_class(form, field) -%}
  {% if form[field].errors %}has-error{% endif %}
{%- endmacro -%}

{%- macro errors(form, field) -%}
  {% if form[field].errors %}
    <span class="pp-form-error text-danger"><strong>{{ form[field].errors[0] }}</strong></span>
  {% endif %}
{%- endmacro -%}

{%- macro field(form, field, help_text=None) -%}
  <div class="form-group {{ error_class(form, field) }}">
    {{ form[field].label }}
    {{ errors(form, field) }}
    {%- if help_text -%}
      <div class="input-group">
        {{ form[field](class="form-control") }}
        <span class="input-group-addon"><span class= "pp-tooltip" data-toggle="tooltip" title="{{ help_text }}"><span class="glyphicon glyphicon-info-sign text-primary"></span></span></span>
      </div>
    {% else %}
      {{ form[field](class="form-control") }}
    {% endif %}
  </div>
{%- endmacro -%}

{%- macro mobile_tag(name) -%}
  {%- if request.MOBILE -%}/#{{ name }}{%- endif -%}
{%- endmacro -%}
  
{%- macro submit_button(text) -%}  
  <button type="submit" class="pp-big-button btn btn-primary btn-lg ladda-button" data-style="expand-left"><span class="ladda-label">{{ text }}</span></button>
{%- endmacro -%}
    
