{% extends 'layout/base.html' %}

{%- block title %}
  {%- block subtitle %}{% endblock %} - {{ contest.display_name }}
{%- endblock %}

{%- block logged_in_nav %}
  {%- if contest.is_admin() %}
    <li><a class="pp-nav-item pp-nav-important" href="{{ contest.format_uri('admin') }}">Admin</a>
  {%- endif %}
  {%- if contest.is_judge() %}
    <li><a class="pp-nav-item pp-nav-important" href="{{ contest.format_uri('judging') }}">Judging</a>
  {%- endif %}
  {%- if contest.is_scoring_completed and contest.is_expired() and contest.user_submission_url() %}
      <li><a class="pp-nav-item pp-nav-important" href="{{ contest.user_submission_url('score') }}">My Score</a></li>
  {% else %}
    {%- if contest.user_submission_url() %}
      <li><a class="pp-nav-item" href="{{ contest.user_submission_url() }}">My Entry</a></li>
    {%- endif %}
  {%- endif %}
{%- endblock %}

{%- block navtitle %}
  <span class="pp-nav-title hidden-xs">{{ contest.display_name }}</span>
{%- endblock %}

{%- block content %}
  <span class="pp-nav-title-mobile visible-xs">{{ contest.display_name }}</span>
  {%- block contest_header %}{% endblock %}
  <div class="col-sm-12">
    {%- macro menu_link(value, text, count=0, name=None) %}
      <a href="{{ contest.format_uri(value) }}" class="btn btn-default pp-menu-button {% if selected_menu_action == value or selected_menu_action == name %}pp-selected-menu-button{% endif %} pp-link-slider">{{ text }}
        {%- if count %} <span class="badge">{{ count }}</span>{% endif %}
      </a>
    {%- endmacro %}
    <div class="btn-group btn-group-justified pp-menu">
      {{- menu_link('about', 'About') }}
      {{- menu_link(None, 'Contestants', contest.contestant_count(), name='contestants') }}
      {{- menu_link('judges', 'Judges') }}
    </div>
  </div>
  <div class="{% block contest_content_class %}col-sm-8{% endblock %}">
    {%- block contest_content %}{% endblock %}
  </div>
  {%- block sponsor_list %}
    <div class="col-sm-3 col-sm-offset-1 col-xs-12 pp-sidebar">
      <a href="http://cm.boulderchamber.com/events/details/esprit-entrepreneur-2014-4819"><img class="pp-esprit-logo hidden-xs" src="/static/img/esprit255.png" alt="Esprit Venture Challege 2014" /></a>
      <div class="row">
        {%- for sponsor in contest.get_sponsors(randomize=True) %}
        <div class="col-sm-12 col-xs-6">
          <div class="pp-sidebar-module pp-sidebar-module-inset pp-sponsor-sidebar">
            <a href="{{ sponsor.website }}">
              <img style="width: 100%; max-width: 255px" src="{{ sponsor.format_uri('sponsor_logo') }}" alt="{{ sponsor.display_name }}" /></a>
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>
  {%- endblock %}
  {{- macros.signin_modal('pp_how_to_enter_modal', 'Sign up', next=contest.format_uri('submit-contestant')) }}
{%- endblock %}
