{% extends 'contest/contest.html' %}

{% block title %}
About
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="col-sm-7 pp-main">

<p>
The Esprit Venture Prize is a crowdfunded contest for seed-stage
companies headquartered in Boulder, CO.  There are three prizes given
away: first, second, and third.  The winners are determined by the
votes of the donors.  Anybody can donate.
</p>
<p>
Startups submit entries including a pitch video, a pitch deck, a
summary, and founder profiles.  Donors may ask anything they like of
the starutps.  The founders answers will be found on the startup's
contestant page.
</p>
<p>
Key dates for the Esprit Venture Prize 2014:
<dl>
<dt>Oct 16</dt>
<dd>Submission deadline</dd>
<dt>Oct 20</dt>
<dd>Voting ends</dd>
<dt>Oct 21</dt>
<dd>Top three finalists will be announced here</dd>
<dt>Oct 23</dt>
<dd>Winners announced at Esprit Ceremony</dd>
</dl>

</div>
{% endblock %}
