{% extends 'contest/contest.html' %}

{% block title %}
Contestants
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="col-sm-7 pp-main">

<div class="row">
    <div class="pp-vote-main col-sm-7 col-sm-offset-5"><button type="button" class="pp-big-button btn btn-primary btn-lg btn-block">Vote</button></div>
</div>

{% for contestant in contestants %}

<div class="pp-contestant-entry clearfix">
    <div class="col-sm-7 pull-left">
    	{#- show video as still image, playback on detail page, this avoids
	a long lag time when loading a page with lots of videos -#}
        <a href="{{ contestant.format_uri('contestant') }}">
          <img class="pp-video-thumbnail" src="https://img.youtube.com/vi/{{ contestant.youtube_code }}/mqdefault.jpg" alt="{{ contestant.display_name }}">
	  {#- TODO(pjm): use bootstrap play glyph -#}
	  <img class="pp-video-play" src="/static/img/play.png" alt="Play">
	</a>
    </div>
    <h3 class="media-heading"><a href="{{ contestant.format_uri('contestant') }}">{{ contestant.display_name }}</a></h3>
    <p class="pp-contestant-desc">{{ contestant.contestant_desc }}
    	<a href="{{ contestant.format_uri('contestant') }}" class="pp-read-more">[learn more]</a>
    </p>
</div>
<hr>
    
{% endfor %}

<div class="row">
    <div class="pp-vote-main col-sm-7 col-sm-offset-5"><button type="button" class="pp-big-button btn btn-primary btn-lg btn-block">Vote</button></div>
</div>

</div>
{% endblock %}
