{% extends 'layout/base.html' %}

{% block title %}
- {{ contest.display_name }}
{% endblock %}

{% block logged_in_nav %}
  {% if contest.user_submission_url() %}
    <a class="pp-nav-item" href="{{ contest.user_submission_url() }}">My Entry</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="col-sm-9">

  <a class="pp-title-link" href="{{ contest.format_uri('about') }}">
  <div class="row">
    <div class="col-sm-4">
      <img style="width:100%; margin-bottom:1ex" src="/static/img/weCanDoIt.jpg" alt="We Can Do It!">
    </div>
    <div class="col-sm-8">
      <p class="text-primary pp-contest-title">
    	Hey, Boulder!  We are the Startup Capital of the US.
    	Show them why we are #1!
      </p>
      <p class="pp-contest-desc">
    	YOU make Boulder’s startup culture the best.  The
    	<span class="pp-tag-title">Esprit Venture Challenge</span> celebrates our collaborative
    	culture with a friendly crowdfunding contest.  Vote
    	with your dollars for the best Boulder venture.
      </p>
    </div>
  </div>
  </a>
</div>

<div class="col-sm-3 pp-sidebar">
    <div class="sidebar-module sidebar-module-inset pp-summary">
	<span class="pp-summary-money">${{ contest.donor_executed_amount() }}</span>
	<span class="pp-summary-name">Raised</span>
	<span class="pp-summary-number">{{ contest.donor_count() }}</span>
	<span class="pp-summary-name">Contributors</span>
	<span class="pp-summary-number">XXX</span>
	<span class="pp-summary-undertitle">days to go</span>
    </div>
</div>

<div class="col-sm-12">
    {% macro option(value, text, count=0) -%}
    	<option value="{{ contest.format_uri(value) }}"
      	    {%- if selected == value %} selected="selected"{% endif -%}>
	    {{- text -}}
	    {% if count %}{{ " (" ~ count ~ ")" }}{% endif -%}
	</option>
    {%- endmacro -%}
    <select class="pp-menu-xs form-control visible-xs" onchange="window.location = this.options[this.selectedIndex].value;">
	{{ option('about', 'About') }}
      	{{ option('contestants', 'Contestants', contest.contestant_count()) }}
	{{ option('submit-contestant', 'How to Enter') }}
    </select>
    {% macro menu_link(value, text, count=0) -%}
    	<a href="{{ contest.format_uri(value) }}" class="btn btn-default pp-button {% if selected == value %}pp-selected-button{% endif %}">{{ text }}
	    {%- if count %} <span class="badge">{{ count }}</span>{% endif -%}
	</a>
    {%- endmacro -%}
    <div class="btn-group pp-menu hidden-xs">
	{{ menu_link('about', 'About') }}
        {{ menu_link('contestants', 'Contestants', contest.contestant_count()) }}
	{{ menu_link('submit-contestant', 'How to Enter') }}
  </div>
</div>

<div class="col-sm-8">
  {% block contest_content %}{% endblock %}
</div>

<div class="col-sm-3 col-sm-offset-1 col-xs-8 col-xs-offset-2 pp-sidebar">
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/Esprit30thAnnual2014Logo.jpg" alt="Esprit Venture Prize 2014" />
    </div>
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/logoBoulderChamber.png" alt="Boulder Chamber" />
    </div>
  <h2 style="text-align: center">Sponsors</h2>
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/galvanize_logo.jpg" alt="Galvanize" />
    </div>
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/bivio-logo.png" alt="Bivio SOftware" />
    </div>
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/data-law-group.jpg" alt="Data Law Group" />
    </div>
</div>  

{% endblock %}
