{% extends 'layout/base.html' %}

{% block title %}
- {{ contest.display_name }}
{% endblock %}

{% block logged_in_nav %}
  {% if contest.user_submission_url() %}
    <a class="pp-nav-item" href="{{ contest.user_submission_url() }}">My Entry</a>
  {% else %}
    <a class="pp-nav-item" href="{{ contest.format_uri('submit-contestant') }}">Submit an Entry</a>
  {% endif %}
{% endblock %}

{% block content %}

<div class="col-sm-7">
    <div>
        {% if contest.logo_type %}
    	    <img class="pp-logo hidden-xs" src="{{ contest.format_uri('logo') }}" alt="{{ contest.display_name }}">
	{% endif %}
        <div class="pp-heading">
            <h1>{{ contest.display_name }}</h1>
            <p class="lead pp-description pp-nowrap clearfix">{{ contest.tag_line }}</p>
    	</div>
    </div>
</div>

<div class="col-sm-4 col-sm-offset-1 pp-sidebar">
    <div class="sidebar-module sidebar-module-inset pp-summary">
	<span class="pp-summary-money">${{ contest.donor_executed_amount() }}</span>
	<span class="pp-summary-name">Raised</span>
	<span class="pp-summary-number">{{ contest.donor_count() }}</span>
	<span class="pp-summary-name">Contributors</span>
	<span class="pp-summary-number">XXX</span>
	<span class="pp-summary-undertitle">days to go</span>
    </div>
</div>

<div class="col-sm-12">
    {% macro option(value, text, count=0) -%}
    	<option value="{{ contest.format_uri(value) }}"
      	    {%- if selected == value %} selected="selected"{% endif -%}>
	    {{- text -}}
	    {% if count %}{{ " (" ~ count ~ ")" }}{% endif -%}
	</option>
    {%- endmacro -%}
    <select class="pp-menu-xs form-control visible-xs" onchange="window.location = this.options[this.selectedIndex].value;">
      	{{ option('contestants', 'Contestants', contest.contestant_count()) }}
	{{ option('about', 'About') }}
	{{ option('how-to-enter', 'How to Enter') }}
    </select>
    {% macro menu_link(value, text, count=0) -%}
    	<a href="{{ contest.format_uri(value) }}" class="btn btn-default pp-button {% if selected == value %}pp-selected-button{% endif %}">{{ text }}
	    {%- if count %} <span class="badge">{{ count }}</span>{% endif -%}
	</a>
    {%- endmacro -%}
    <div class="btn-group pp-menu hidden-xs">
        {{ menu_link('contestants', 'Contestants', contest.contestant_count()) }}
	{{ menu_link('about', 'About') }}
	{{ menu_link('how-to-enter', 'How to Enter') }}
  </div>
</div>

<div class="col-sm-7">
  {% block contest_content %}{% endblock %}
</div>

<div class="col-sm-4 col-sm-offset-1 col-xs-8 col-xs-offset-2 pp-sidebar">
  <h2 style="text-align: center">Sponsors</h2>
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/logoBoulderChamber.png" alt="Boulder Chamber" />
    </div>
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/galvanize_logo.jpg" alt="Galvanize" />
    </div>
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/bivio-logo.png" alt="Bivio SOftware" />
    </div>
    <div class="sidebar-module sidebar-module-inset pp-donate-sidebar">
      <img style="width: 100%" src="/static/img/data-law-group.jpg" alt="Data Law Group" />
    </div>
</div>  

{% endblock %}
