{% extends 'contest/contest.html' %}
{%- import "layout/macros.html" as macros %}

{%- block subtitle %}Contestants{%- endblock %}

{%- block social_meta %}
  <meta property="og:image" content="https://www.publicprize.com/static/img/rosie200x200.jpg" /> 
  <link rel="canonical" href="{{ contest.format_absolute_uri() }}">
  <meta property="og:url" content="{{ contest.format_absolute_uri() }}">
  <meta property="og:title" content="Contestants - {{ contest.display_name }}">
{%- endblock %}

{%- macro summary(item_class) %}
  <div class="{{ item_class }}">
    <span class="pp-summary-number">${{ contest.donor_executed_amount() }}</span>
    <span class="pp-summary-name">Raised</span>
  </div>
  <div class="{{ item_class }}">
    <span class="pp-summary-number">{{ contest.donor_count() }}</span>
    <span class="pp-summary-name">Contributions</span>
  </div>
  <div class="{{ item_class }}">
    {% if contest.days_remaining() > 0 %}
      <span class="pp-summary-number">{{ contest.days_remaining() }}</span>
      <span class="pp-summary-undertitle">days to go</span>
    {% else %}
      <span class="pp-summary-number">{{ contest.hours_remaining() }}</span>
      <span class="pp-summary-undertitle">hours to go</span>
    {% endif %}
  </div>
{%- endmacro %}
      
{%- block contest_header %}
  <div class="col-sm-9">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <a class="pp-title-link" href="{{ contest.format_uri('about') }}">
          <img style="width:100%; margin-bottom:1ex" src="/static/img/rosie200.jpg" alt="We Can Do It!">
        </a>
      </div>
      <div class="col-sm-8">
        <p class="text-primary pp-contest-title">
          <a class="pp-title-link" href="{{ contest.format_uri('about') }}">
          Hey, Boulder!  We are the Startup Capital of the US.
          Show them why we are #1!</a>
        </p>
        <p class="pp-contest-desc">
          <a class="pp-title-link" href="{{ contest.format_uri('about') }}">
  	  Vote with your dollars for the best Boulder startup.
	  The <span class="pp-tag-title">Esprit Venture Challenge</span>
	  is the Boulder Chamber’s
	  friendly crowdfunding contest.  Promote innovation
	  in Boulder. Let’s keep our community #1!
	  <span class="pp-contest-more">[more]</span></a>
      	</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="pp-summary">
      <div class="hidden-xs">
        {{- summary("pp-normal-summary") }}
      </div>
      <div class="visible-xs">
      	{{- summary("pp-condensed-summary") }}
      </div>
    </div>
    <div class="pp-contest-social">
      <a target="_blank" class="pp-social-icon" href="https://facebook.com/sharer.php?u={{ contest_url|urlencode }}&amp;title={{ contest.display_name|urlencode }}"><img src="/static/img/facebook30.png" alt="Facebook"></a>
      <a target="_blank" class="pp-social-icon" href="https://twitter.com/intent/tweet?text={{ contest_tweet|urlencode }}&amp;hashtags=EspritVentureChallenge&amp;url={{ contest_url|urlencode }}&amp;via=publicprize"><img src="/static/img/twitter30.png" alt="Twitter"></a>
      <a target="_blank" class="pp-social-icon" href="https://plus.google.com/share?url={{ contest_url|urlencode }}"><img src="/static/img/google30.png" alt="Google+"></a>
    </div>
  </div>
{%- endblock %}

{%- block contest_content %}
  <div class="pp-main">
    {%- for contestant in contest.get_public_contestants(randomize=True) %}
      <div class="row">
        <div class="pp-contestant-entry clearfix">
          <div class="col-sm-7 pull-left">
            {#- show video as still image, playback on detail page,
            this avoids a long lag time when loading a page with lots
            of videos #}
            <a href="{{ contestant.format_uri(None, query={"autoplay": 1}) }}">
      	      <img class="pp-video-thumbnail" src="https://img.youtube.com/vi/{{ contestant.youtube_code }}/mqdefault.jpg" alt="{{ contestant.display_name }}">
      	      {#- TODO(pjm): use bootstrap play glyph -#}
      	      <img class="pp-video-play" src="/static/img/play.png" alt="Play">
    	    </a>
      	  </div>
      	  <a href="{{ contestant.format_uri() }}{{ macros.mobile_tag('title') }}">
    	    <div class="pp-contestant-summary">
      	    <h3 class="media-heading">{{ contestant.display_name }}</h3>
      	    <div class="pp-contestant-desc">{{ contestant.get_summary() }}</div>
    	    </div>
      	  </a>
      	  <a href="{{ contestant.format_uri() }}" class="pp-learn-more pull-right btn btn-primary btn-lg">Learn More</a>
    	</div>
      </div>
      <hr>
    {%- endfor %}
  </div>
{%- endblock %}
