{% extends 'contest/contest.html' %}
{% import "layout/macros.html" as macros %}

{% block title %}
{{ contestant.display_name }}
{{ super() }}
{% endblock %}

{%- macro amount_button(field) -%}
  <button name="{{ form[field].name }}" value="1" type="submit" class="btn btn-primary btn-lg ladda-button pp-amount-bar pp-amount-button" data-style="expand-left"><span class="ladda-label">{{ form[field].label.text }}</span></button>
{%- endmacro -%}

{%- macro amount_bar() -%}
  {% if form and contestant.is_public %}
  <div class="pp-back-this-startup">
    <div class="text-primary"><strong>Back this Boulder startup</strong></div>
    <form class="form-inline" method="POST" action="{{ contestant.format_uri('contestant') }}">
      {{ form.csrf_token() }}
      {{ amount_button('donate10') }}
      {{ amount_button('donate25') }}
      {{ amount_button('donate100') }}
      <button id="pp-other-button" class="btn btn-primary btn-lg pp-amount-bar
        {%- if form['amount'].errors %}	disabled
	{%- endif %}">Other Amount</button>

      <div class="
      	{%- if not form['amount'].errors -%}
	pp-hidden-slider
	{%- endif -%}
	">
      <div class="form-group {{ macros.error_class(form.amount) }}">
       	<div class="input-group pp-amount-bar">
    	  <span class="input-group-addon"><strong>$</strong></span>
	    {{ form['amount'](class="form-control") }}
      	</div>
      	<button type="submit" class="btn btn-primary pp-amount-bar ladda-button" data-style="expand-left"><span class="ladda-label">Submit</span></button>
      {% if form['amount'].errors %}
    	<div class="text-danger"><strong>{{ form['amount'].errors[0] }}</strong></div>
      {% endif %}
      </div>
      </div>

    </form>
  </div>
  {% endif %}
{%- endmacro -%}

{% block contest_content %}
{% if not contestant.is_public %}
  <p class="bg-success pp-pending-review">This entry is pending review.</p>
{% endif %}
{{ amount_bar() }}
<div class="pp-main">
<div class="pp-contestant">
    <div id="title" class="pp-title">{{ contestant.display_name }}</div>
    <div class="pp-pitch">
    	<div class="embed-responsive embed-responsive-16by9">
    	    <iframe class="embed-responsive-item"
	    src="//www.youtube.com/embed/{{ contestant.youtube_code -}}
		 {%- if request.args.get('autoplay') -%}
		 ?autoplay=1
		 {%- endif %}" allowfullscreen></iframe>
    	</div>
    </div>
    <div class="pp-abstract">
    	<h3 class="pp-heading">Summary</h3>
    	<p class="pp-contestant-desc">{{ contestant.contestant_desc }}</p>
    </div>
    <div class="pp-slides">
    	<div class="embed-responsive embed-responsive-4by3">
    	    <iframe class="embed-responsive-item"
	    	src="//www.slideshare.net/slideshow/embed_code/{{ contestant.slideshow_code }}"
	    	allowfullscreen></iframe>
    	</div>
    </div>
    <div class="pp-founders clearfix">
    	<h3 class="pp-heading">Founders</h3>

    	{% for founder in founders %}
	  {% if founder.founder_avatar %}
    	    <div class="pp-item pp-item-with-avatar">
    	      <img class="pp-thumb" src="{{ founder.format_uri('founder-avatar') }}" alt="{{ founder.display_name }}"/>
    	    	<span class="pp-name">{{ founder.display_name }}</span>
		&ndash;
    	    	<span class="pp-desc">{{ founder.founder_desc }}</span>
    	    </div>
	  {% else %}
	    <div class="pp-item">
    	    	<span class="pp-name">{{ founder.display_name }}</span>
		&ndash;
    	    	<span class="pp-desc">{{ founder.founder_desc }}</span>
	    </div>
	  {% endif %}
    	{% endfor %}

    </div>
</div>
</div>
{{ amount_bar() }}
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
$(function() {
  $("#pp-other-button").click(function() {
    $(this).addClass("disabled");
    $(".pp-hidden-slider").slideDown("slow", function() {
      $("#amount").focus();
    });
    return false;
  });
});
</script>
{% endblock %}

