{% extends 'contest/contest.html' %}

{% block title %}
{{ contestant.display_name }}
{{ super() }}
{% endblock %}

{%- macro donate_button() -%}
  <div class="row">
    <div class="pp-vote-detail col-sm-7 col-sm-offset-5">
      <a href="{{ contestant.format_uri('donate') }}" class="pp-big-button btn btn-primary btn-lg btn-block"><span class="pp-trimmed-text">Contribute to {{ contestant.display_name }}</span></a>
    </div>
  </div>
{%- endmacro -%}

{% block contest_content %}
<div class="pp-main">
<div class="pp-contestant">
    {{ donate_button() }}
    <div class="pp-title">{{ contestant.display_name }}</div>
    <div class="pp-pitch">
    	<div class="embed-responsive embed-responsive-16by9">
    	    <iframe class="embed-responsive-item"
	    src="//www.youtube.com/embed/{{ contestant.youtube_code -}}
		 {%- if request.args.get('autoplay'): -%}
		 ?autoplay=1
		 {%- endif %}" allowfullscreen></iframe>
    	</div>
    </div>
    <div class="pp-abstract">
    	<h3 class="pp-heading">Summary</h3>
    	<p class="pp-contestant-desc">
   	    {{ contestant.contestant_desc }}
    	</p>
    </div>
    <div class="pp-slides">
    	<div class="embed-responsive embed-responsive-4by3">
    	    <iframe class="embed-responsive-item"
	    	src="//www.slideshare.net/slideshow/embed_code/{{ contestant.slideshow_code }}"
	    	allowfullscreen></iframe>
    	</div>
    </div>
    <div class="pp-founders">
    	<h3 class="pp-heading">Founders</h3>

    	{% for founder in founders %}

    	    <div class="pp-item">

	      {% if founder.founder_avatar: %}
    	    	<img class="pp-thumb" src="{{ founder.format_uri('founder_avatar') }}" alt="{{ founder.display_name }}"/>
	      {% endif %}
    	    	<span class="pp-name">{{ founder.display_name }}</span>
    	    	<span class="pp-desc">{{ founder.founder_desc }}</span>
    	    </div>

    	{% endfor %}

    </div>
    {{ donate_button() }}
</div>
</div>
{% endblock %}
