{% extends 'contest/contest.html' %}

{% block title %}
Confirm Contribution
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="col-sm-7 pp-form">

  <div class="pp-title">{{ contestant.display_name }}</div>
  
  <form method="POST" action="{{ contestant.format_uri('donate-confirm') }}">
    {{ form.csrf_token() }}
    <p>Please confirm your contribution to {{ contestant.display_name }}
      for ${{ donor.amount }}<p>
    {{ macros.submit_button('Confirm Contribution) }}
  </form>

</div>
{% endblock %}
