{% extends 'contest/contest.html' %}
{% import "layout/macros.html" as macros %}

{% block title %}
Contribute
{{ super() }}
{% endblock %}

{% block contest_content %}
<div class="pp-form">
  <div class="pp-title">{{ contestant.display_name }}</div>
  <form method="POST" action="{{ contestant.format_uri('donate') }}">
    {{ form.csrf_token() }}

    <div class="form-group {{ macros.error_class(form, 'amount') }}">
      {{ form['amount'].label }}
      {{ macros.errors(form, 'amount') }}
      <div class="input-group">
	<span class="input-group-addon"><strong>$</strong></span>
        {{ form['amount'](class="form-control") }}
      </div>
    </div>
    {{ macros.submit_button('Continue to PayPal') }}
  </form>
</div>
<div class="col-sm-7">
  <!-- PayPal Logo --><img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_mc_vs_dc_ae.jpg" alt="PayPal Acceptance Mark"><!-- PayPal Logo -->
</div>
{% endblock %}
