{% extends 'contest/contest.html' %}

{% block title %}
How to Enter
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
<div class="col-sm-7 pp-main">

<h3>How To Enter</h3>
<p>
<ol>
<li><p><b>Register.</b> Fill out a short <a href="#">entry form</a>.</p></li>
<li><p><b>Deliver.</b> Upload your pitch video to
    <a href="http://youtube.com">YouTube</a> and slide deck
                    to <a href="http://slideshare.net">slideshare</a>.  Add
                the sharing links to your entry form.</li>
<li><b>Communicate.</b> Answer questions from the community.</li>
</ol>

	    <p><b>Deadline</b>: You must submit your complete entry by
	                Midnight, October 16th, 2014.</p>

            <p>Finalists will be listed here on October 21st, 2014.</p>

            <p>Winners will be announced here and at the Esprit Entrepreneur
            Ceremony on October 23rd, 2014 from 9:00 a.m. to 6:00
            p.m. at the NEED LOCATION. Finalists must attend the
            ceremony so please keep this date open.</p>
<h3>Rules</h3>

<dl class="pp-rules-list">
<dt>Seed Stage</dt>
<dd>The Esprit Venture Prize is designed for early stage startups, which have
received at most $1,500,000 in seed funding and
$2,000,000 in total revenue.  Entrants must be fully formed
corporations or partnerships with a federal tax identification number.
</dd>
<dt>Boulder Ventures Only</dt>
<dd>
The Esprit Venture Prize is a Boulder Chamber of Commerce initiative
to promote innovation in Boulder, Colorado, US.  Entrants must have
at least one Boulder County resident who is a founder, an active
contributor to the business, and owns at least 20% of the business.
</dd>
<dt>Public Contest</dt>
<dd>
The Esprit Venture Prize is a Public Prize contest
All the contest materials will be published for public review on the
Public Prize website (publicprize.com).  Certain information such as
federal tax identifiers and email addresses will only be visible to
Public Prize and Boulder Chamber administrators.  Passwords will in
all cases be stored in the database in an encrypted form.
</dd>
<dt>Taxes</dt>
<dd>
All Prizes are inclusive of any tax, levy or other charge that may
arise under any applicable law. The Winner
acknowledges that they will not be entitled to demand any additional
payment by reason of a Prize being subject to any tax, levy or other
charge in any jurisdiction.
</dd>
<dt>Legalese...</dt>
<dd>More legal stuff here</dd>
</dl>
  
</div>
{% endblock %}
