
<!-- https://kuler.adobe.com/AlternativeGarden-color-theme-4155685/edit/?copy=true&base=2&rule=Custom&selected=3&name=Copy%20of%20AlternativeGarden&mode=rgb&rgbvalues=0.10196078431372549,0.30980392156862746,0.38823529411764707,0.023529411764705882,0.5215686274509804,0.5294117647058824,0.43529411764705883,0.6901960784313725,0.4980392156862745,0.9882352941176471,0.6901960784313725,0.23529411764705882,0.9882352941176471,0.3568627450980392,0.24705882352941178&swatchOrder=0,1,2,3,4

#1A4F63 dark blue     (success)
#068587 turquoise     (primary)
#6FB07F middle green  (info)
#FCB03C yellow        (warning)
#FC5B3F orange        (danger)

http://www.colourlovers.com/op/copaso/open/947527
  -->

/*
 * Globals
 */

body {
  color: #555;
}
a {
  color: #068587;
}
a:hover {
  color: #FCB03C;
  text-decoration: none;
}


/* Bootstrap overrides. */
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.input-group-addon {
  background-color: #fafafa;
  vertical-align: top;
  padding-top: 1ex;
}
.container > div.navbar-header {
  margin-left: 0;
}

/* Bootstrap-sortable overrides. */
table.sortable div.mozilla span.sign {
  right: -2px;
}

/* Common page elements */

.pp-nav-logo {
  line-height: 80%;
  font-family: Arial Black;
  color: #068587;
  font-size: 24px;
  padding: 10px 0;
  display: inline-block;
  position: relative;
}
.nav > li > a.pp-nav-item {
  font-weight: 500;
}
.pp-nav-title {
  display: inline-block;
  font-size: 28px;
  margin-left: 1em;
  padding-bottom: 8px;
  vertical-align: middle;
  white-space: nowrap;
  font-weight: 500;
}
.pp-nav-title-mobile {
  margin-left: 1em;
  margin-bottom: 1ex;
  font-size: 24px;
  font-weight: 500;
}
.pp-nav-important {
  background-color: #FCE00C;
}

.pp-content {
  min-height: 370px;
}

.pp-modal-header {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.pp-login-body {
  margin-top: 1ex;
  margin-bottom: 6ex;
}
.pp-login-body img {
  margin-right: 0.5em;
}

.pp-footer {
  padding: 0.5ex 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  margin-top: 3ex;
  line-height: 40px;
}
.pp-footer p:last-child {
  margin-bottom: 0;
}
.pp-footer-item {
  padding: 10px;
}


/* Contest styles */

.pp-contestant .pp-title {
  margin-bottom: 0;
  font-size: 33px;
  font-weight: normal;
}
div.pp-contestant-entry {
  padding-left: 15px;
  padding-right: 15px;
}
a.pp-contestant-link:focus {
  text-decoration: none;
}
.pp-main {
  font-size: 18px;
  line-height: 1.5;
}

.pp-form {
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-left: 15px;
  padding: 2ex;
}
.pp-form h1 {
  margin-top: 0;
}

/* Sidebar modules for boxing content */
.pp-sidebar-module {
  margin: 0 0 15px -15px;
}
.pp-sidebar-module-inset {
  padding: 0 15px;
  border-radius: 8px;
  border: 8px solid #f5f5f5;
}
.pp-sidebar-module-inset p:last-child,
.pp-sidebar-module-inset ul:last-child,
.pp-sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}
.pp-sponsor-sidebar {
  color: #333;
  display: block;
}
.pp-esprit-logo {
  width: 100%;
  padding-bottom: 2ex;
}
.pp-summary {
  background-color: transparent;
  border-left: 1px solid #e5e5e5;
  border-radius: none;
  padding-left: 1em;
}
.pp-summary-name {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  margin-right: 1em;
}
.pp-summary-number {
  font-size: 24px;
  font-weight: bold;
  display: block;
  line-height: 30px;
  margin-right: 1em;
  white-space: nowrap;
}
.pp-summary-undertitle {
  font-size: 14px;
  display: block;
}
.pp-condensed-summary {
  display: inline-block;
}
.pp-menu {
  margin-bottom: 1ex;
}
.pp-menu-button {
  margin-bottom: 3px;
  font-weight: bold;
}
.pp-menu-button:hover {
  background-color: transparent;
  border: 1px solid #FCB03C;
}
.pp-selected-menu-button,
a.pp-selected-menu-button:hover {
  border-bottom: 3px solid #FCB03C;
  margin-bottom: 0px;
}

.pp-founders .pp-slideshare {
  margin: 0;
  margin-bottom: 5px;
}
.pp-founders .pp-item-with-avatar {
  float: left;
}
.pp-founders .pp-item {
  margin: 10px 0;
}
.pp-founders .pp-thumb {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.pp-contestant-entry,
.pp-judges-page,
.pp-about-page {
  padding-top: 15px;
}
.pp-main > .pp-heading {
  font-size: 120%;
  font-weight: bold;
  color: #068587;
  margin-bottom: 10px;
}
.pp-about-page > .pp-section {
  font-size: 100%;
  font-weight: bold;
  color: #068587;
  margin-top: 15px;
  margin-bottom: 5px;
}
.pp-about-boulderfuse {
  float: left;
  margin-right: 20px;
}
.pp-about-boulderfuse img {
  margin-top: 7px;
}
.pp-about-boulderfuse span {
  margin-top: 8px;
  display: block;
  text-align: center;
}
.pp-about-impacthubboulder {
  display: block;
  margin-bottom: 15px;
}
.pp-about-impacthubboulder img {
  margin-top: 7px;
}
.pp-about-impacthubboulder span {
  margin-top: 8px;
  display: block;
  text-align: center;
}
.pp-about-esprit {
  float: left;
  margin-right: 20px;
}
.pp-about-esprit img {
  margin-top: 7px;
}
.pp-about-esprit span {
  margin-top: 8px;
  display: block;
  text-align: center;
}
.pp-judge {
  display: block;
  text-align: right;
  margin: 20px 0;
  height: 120px;
}
.pp-judge span {
  color: #444;
  text-align: right;
  display: block;
  font-style: italic;
  font-size: 14px;
}
.pp-judge:hover .pp-name {
  color: #FCB03C;
}
.pp-judge .pp-name {
  font-size: 16px;
  color: #068587;
  font-style: italic;
  font-weight: bold;
}
.pp-judge .pp-title {
  font-style: italic;
  font-weight: bold;
}
.pp-judge img {
  display: block;
  border-radius: 60px;
  float: right;
  margin: 0;
  margin-left: 20px;
  height: 120px;
}
.pp-contestant-desc {
  white-space: pre-line;
  color: #555;
}
.pp-cancel-link {
    margin-left: 1em;
    vertical-align: -22%;
}
.pp-form {
  margin-top: 15px;
}
.pp-form-error {
    float: right;
}
img.pp-video-thumbnail {
    width: 100%;
    margin-bottom: 0.5ex;
}
img.pp-video-play {
    height: auto;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.8;
}
img.pp-video-play:hover {
    opacity: 1;
}
.pp-trimmed-text {
    overflow: hidden;
    display: block;
    text-overflow: ellipsis;
}
.pp-amount-bar, .pp-other-submit {
    margin-top: 15px;
    min-width: 8em;
}
button.pp-amount-bar {
    min-width: 4em;
    width: 22%;
    font-size: 24px;
}
.pp-amount-button {
    margin-right: 4%;
}
.pp-hidden-slider {
    display: none;
}
.pp-large-text {
  font-size: 18px;
  line-height: 1.5;
}
.pp-social-icon img {
  margin: 1ex 0.5em;
  border-radius: 6px;
}
.pp-contest-title {
  font-weight: 600;
  line-height: 1.1;
  font-size: 33px;
}
.pp-contest-desc:hover {
  color: #068587;
}
.pp-contest-more,
.pp-contest-desc {
  font-size: 20px;
  line-height: 1.4;
  font-weight: normal;
}
.pp-contest-desc .pp-title-link:hover,
.pp-contest-desc .pp-title-link {
  color: #444;
}
a.pp-contestant-desc:focus {
  text-decoration: none;
}
.pp-contest-more,
.pp-tag-title {
  color: #FCB03C;
}
.pp-contest-more {
  margin-left: 10px;
}
a.pp-title-link:hover {
  color: #068587;
}
.pp-pending-review {
  padding: 15px;
}
.pp-share-text:before {
  background-color: #ffffff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  content: "";
  height: 10px;
  position: absolute;
  right: -7px;
  top: 13px;
  transform: rotate(-45deg);
  width: 10px;
}
.pp-share-text {
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: inline-block;
  height: 39px;
  top: 4px;
  left: -10px;
  padding: 5px 7px;
  position: relative;
  text-align: center;
}
input.pp-agree-checkbox {
  position: relative;
  top: 3px;
  width: 20px;
  height: 20px;
}
.pp-chamber-link img {
  margin-bottom: 15px;
}
.pp-back-this-startup {
}
.pp-back-this-startup .pp-heading {
  font-size: 24px;
  color: #068587;
}
.pp-contestant .pp-title {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #FCB03C;
}
.pp-detail-social {
  float: right;
}
.pp-contest-social {
  padding-left: 0.5em;
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.pp-detail-social .pp-social-icon img {
  margin: 0;
  margin-left: 0.5em;
}
.pp-contestant .pp-heading {
  margin-top: 30px;
  color: #068587;
}
.pp-contestant-bottom-amount-bar {
  margin-top: 30px;
  margin-bottom: 30px;
}
.pp-learn-more {
  margin-top: 1ex;
}
.pp-judgement {
  margin-left: -10px;
  margin-right: -10px;
}
.pp-judgement label {
  margin-top: 1ex;
}
.pp-judgement h2 {
  margin-top: 75px;
}
.pp-question {
  margin-top: 4ex;
}
.pp-question-text {
  font-weight: bold;
}
.pp-total-score {
  font-size: 20px;
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.pp-website {
  margin-top: 2ex;
}
.pp-amount-cell {
  text-align: right;
}
.pp-question-category {
  color: #555;
  width: 30%;
}
.pp-score-column {
  white-space: nowrap;
  text-align: right;
  width: 10%;
}
.table tr td.pp-xs-comment {
  padding-left: 2em;
}
.pp-header-slider {
  display: none;
}
