
<!-- https://kuler.adobe.com/AlternativeGarden-color-theme-4155685/edit/?copy=true&base=2&rule=Custom&selected=3&name=Copy%20of%20AlternativeGarden&mode=rgb&rgbvalues=0.10196078431372549,0.30980392156862746,0.38823529411764707,0.023529411764705882,0.5215686274509804,0.5294117647058824,0.43529411764705883,0.6901960784313725,0.4980392156862745,0.9882352941176471,0.6901960784313725,0.23529411764705882,0.9882352941176471,0.3568627450980392,0.24705882352941178&swatchOrder=0,1,2,3,4

#1A4F63 dark blue
#068587 turquoise     
#6FB07F middle green
#FCB03C yellow
#FC5B3F orange

http://www.colourlovers.com/op/copaso/open/947527
  -->

/*
 * Globals
 */

body {
  color: #555;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


.pp-nav-logo {
  line-height: 80%;
  font-family: Arial Black;
  color: #068587;
  font-size: 24px;
  padding: 10px 0;
  display: inline-block;
  position: relative;
}

.pp-nav-tag {
  font-size: 78%;
  font-family: Arial;
  color: #FCB03C;
}

/*
 * Masthead for nav
 */

.pp-masthead {
!  background-color: #fff;
border-bottom: 1px solid #e5e5e5;
/*  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1); */
}

/* Nav links */
.pp-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
!  background-color: #ccc;
}
.pp-nav-item:hover,
.pp-nav-item:focus {
  text-decoration: none;
}
.pp-nav-menu .pp-nav-item {
  padding: 20px 10px;
}
.pp-nav-menu .pp-nav-item:hover,
.pp-nav-menu .pp-nav-item:focus {
  background-color: #f7fafa;
}

/* Active state gets a caret at the bottom */
.pp-nav .active {
  color: #fff;
}
.pp-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*
 * Page name and description
 */

.pp-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pp-title {
!  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.pp-description {
  font-size: 20px;  color: #999;
}


/*
 * Main column and sidebar layout
 */

.pp-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

.pp-summary {
  background-color: transparent;
  border-left: 1px solid #e5e5e5;
  border-radius: none;
}

.pp-summary-prize-money {
  font-weight: bold;
  font-size: 24px;
  display: block;
  line-height: 30px;
}
.pp-summary-prize-money.pp-first-prize {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 5px;
}

.pp-summary-prize-name {
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
}

.pp-summary-number {
  font-size: 24px;
  font-weight: bold;
  display: block;
  line-height: 30px;
}

.pp-summary-undertitle {
  font-size: 14px;
  display: block;
}

/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Page posts
 */

.pp-post {
  margin-bottom: 60px;
}
.pp-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.pp-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.pp-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  margin-top: 3ex;
}
.pp-footer p:last-child {
  margin-bottom: 0;
}
.pp-footer-item {
  padding: 10px;
}


.pp-content {
  padding-top: 1em;
  min-height: 370px;
}

.pp-heading {
!  display: inline-block;
!  vertical-align: middle;
}
.pp-heading h1 {
  margin-top: 0;
}

.pp-logo {
  padding-right: 1em;
  padding-bottom: 1ex;
}

.pp-nowrap {
  white-space: nowrap;
}

.pp-menu {
  width: 100%;
  margin-bottom: 1ex;
}
.pp-menu-xs {
  font-weight: bold;
  margin-bottom: 1ex;
}

.pp-button {
  margin-bottom: 3px;
}
.pp-selected-button, a.pp-selected-button:hover {
  min-width: 7em;
  border-bottom: 3px solid #FCB03C;
  font-weight: bold;
  width: 25%;
  margin-bottom: 0px;
}

.pp-button {
  font-weight: bold;
  width: 25%;
}
.pp-button:hover {
  background-color: transparent;
  border: 1px solid #FCB03C;
}

.pp-donate {
/*#1A4F63 dark blue
#068587 turquoise     
#6FB07F middle green
#FCB03C yellow
#FC5B3F orange*/
  border-color: #068587;
  background-color: #068587;
}

.pp-donate:hover {
/*#1A4F63 dark blue
#068587 turquoise     
#6FB07F middle green
#FCB03C yellow
#FC5B3F orange*/
/*  border-color: #6FB07F;
  background-color: #6FB07F; */
  border-color: #179698;
  background-color: #179698;
}

a {
  color: #068587;
}
a:hover {
  color: #FCB03C;
  text-decoration: none;
}
a.pp-nav-logo:hover {
  color: #068587;
  text-decoration: none;
}

.pp-donate-sidebar {
  color: #333;
  display: block;
}

a .pp-donate-click  {
  display: none;
  float: right;
  font-size: 20px;
  margin-bottom: 8px;
}

a:hover .pp-donate-click,
a:hover .pp-donate-sidebar {
  background-color: #179698;
  color: white;
  display: block;
}

.pp-donate-amount {
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
}

.pp-donate-name {
  display: block;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 10px;
}
.pp-donate-desc {
  display: block;
  color: #444;
  margin-bottom: 5px;
  font-size: 16px;
}
.pp-donate-item .pp-donors {
   display: block;
   color: #444;
   font-size: 14px;
}
.pp-donate-item .pp-donor-number {
  font-weight: bold;
}

img.pp-fb-tray {
  cursor: pointer;
}

.pp-founders .pp-slideshare {
  margin: 0;
  margin-bottom: 5px;
}
.pp-founders .pp-item {
  float: left;
  margin: 10px 0;
}
.pp-founders .pp-thumb {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.pp-contestant-entry {
  margin-top: 20px;
}
.pp-rules-list dt {
  margin: 5px 0 3px 0;
}
.pp-donor-list table {
  width: 100%;
  margin-bottom: 50px;
}
.pp-donor-page h3 {
  font-size: 200%;
  color: #FCB03C;
}
.pp-donor-list td {
  vertical-align: top;
  text-align: center;
  width: 33%;
}
.pp-donor-list img {
  margin: 15px 20px 5px 20px;
  border-radius: 10px;
}
.pp-donor-list span {
  display: block;
  text-align: center;
}
.pp-vote-detail {
  padding-top: 15px;
}
.pp-vote-main {
  padding: 15px;
  margin-bottom: 5px;
}
