{% extends base_template %}
{%- import "layout/macros.html" as macros %}

<!-- TODO: add block social_meta -->
{%- block css %}
  {{- super() }}
  <link href="/static/css/bootstrap-sortable-1.9.0.css" rel="stylesheet">
{%- endblock %}

{%- block subtitle %}Admin Review Nominees{%- endblock %}
{%- block sponsor_list %}{% endblock %}
{% block contest_content_class %}col-sm-offset-1 col-sm-8{% endblock %}
{%- block contest_content %}
  <div class="pp-form">
  <h1>Review Nominees</h1>
  <table class="table table-hover sortable">
    <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th data-defaultsort="desc">Date Submitted</th>
      <th>Public</th>
      <th> </th>
    </tr>
    </thead>
    <tbody>
    {%- for nominee in contest.get_admin_nominees() %}
      <tr>
        <td>{{ nominee.display_name }}</td>
        <td><a href="{{ nominee.url }}">{{ nominee.url }}</a></td>
        <td>{{ nominee.creation_date_time.strftime('%Y-%m-%d %H:%M GMT') }}</td>
        <td>{{ nominee.is_public }}</td>
        <td><a href="{{ nominee.format_uri('admin-edit-nominee') }}">edit</a></td>
      </tr>
    {%- endfor %}
    </tbody>
  </table>
  </div>
{%- endblock %}

{%- block scripts %}
  {{- super() }}
  <script src="/static/js/bootstrap-sortable/moment-2.3.1.min.js"></script>
  <script src="/static/js/bootstrap-sortable/bootstrap-sortable-1.9.0.js"></script>
{%- endblock %}
