{% extends 'layout/base.html' %}

{%- block bootstrap_css %}
  <link href="/static/css/bootstrap-nextup-3.3.2.min.css?20150120" rel="stylesheet">
{%- endblock %}

{%- block title %}
  {%- block subtitle %}{% endblock %} - {{ contest.display_name }}
{%- endblock %}
{%- block css %}
  {{- super() }}
  <link href="/static/css/nextup.css?20150211" rel="stylesheet">
{%- endblock %}

{%- block logged_in_nav %}
{%- endblock %}

{%- block jumbo_header %}
  <div class="container">
    <div class="row">
      <div class="pp_nextup_logo">
        <a href="{{ contest.format_uri() }}"><img src="/static/img/nextup-265x125.png" alt="Next Up"></a>
      </div>
    </div>
  </div>
{% endblock %}
  
{%- block content %}
  {%- block contest_header %}{% endblock %}
  <div class="{% block contest_content_class %}col-sm-offset-1 col-sm-6{% endblock %}">
    {%- block contest_content %}{% endblock %}
  </div>
  {%- block sponsor_list %}
    <div class="col-sm-3 col-sm-offset-2 col-xs-12 pp-sidebar">
      <h1>Sponsors</h1>
      <div class="row">
        {%- for sponsor in contest.get_sponsors(randomize=False) %}
        <div class="col-sm-12 col-xs-6">
          <div class="pp-sidebar-module pp-sidebar-module-inset pp-sponsor-sidebar pp-sponsor-images">
            <a href="{{ sponsor.website }}">
              <img style="width: 100%; max-width: 120px" src="{{ sponsor.format_uri('sponsor_logo') }}" alt="{{ sponsor.display_name }}" /></a>
          </div>
        </div>
        {%- endfor %}
      </div>
    </div>  
  {%- endblock %}
{%- endblock %}
