{% extends 'layout/base.html' %}
{% block title %}Contests{% endblock %}
{%- block content %}
<div class="col-md-8 sm-12">
  <h1>Current Contests</h1>
    <div class="pp-home-nextup-indent"><a href="{{ nextup_contest.format_uri() }}"><img src="/static/img/nextup-265x125.png" alt="Next Up"></a></div>
  <h1>Past Contests</h1>
    <div class="pp-home-evc-indent"><a href="{{ evc_contest.format_uri() }}"><img src="/static/img/esprit255.png" alt="Esprit Venture Challenge"></a></div>
  <p>&nbsp;</p>
  <h1>About Public Prize</h1>
  Public Prize is
  an <a href="https://github.com/biviosoftware/publicprize">open
  source</a> contest platform operated pro bono for good causes around
  the world by <a href="http://www.bivio.biz">Bivio Software</a>. We
  enjoy giving back so
  please <a href="http://www.bivio.biz/pub/contact">contact us</a> if
  you would like us to host your next contest.
  <p>&nbsp;</p>
</div>
{%- endblock %}
