{% extends 'layout/base.html' %}
{% block title %}Contests{% endblock %}
{%- block content %}
<div class="col-sm-12">
  <h1>Esprit Venture</h1>
  <ul>
    {%- for contest in evc_contests %}
      <li><h3><a href="{{ contest.format_uri() }}">{{ contest.display_name }}</a></h3></li>
    {%- endfor %}
  </ul>
  <h1>Next Up</h1>
  <ul>
    {%- for contest in nextup_contests %}
      <li><h3><a href="{{ contest.format_uri() }}">{{ contest.display_name }}</a></h3></li>
    {%- endfor %}
  </ul>
</div>
{%- endblock %}
